<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- ContextName of aplication -->
	<contextName>x38</contextName>

	<!-- Loaded of the properties file of the application -->
	<property
		resource="${CONTEXT_NAME}/${CONTEXT_NAME}.properties" />

	<!-- Definition of StatusListener that manages the StatusManager -->
	<statusListener
		class="com.ejie.x38.log.UdaLogStatusListener" />

	<!-- Definition of the aplic appenders -->

	<!-- General output -->
	<!-- appender name="traceSystem" class="ch.qos.logback.core.ConsoleAppender" -->
	<appender name="salidaEstandarAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}/logging/salidaEstandar_${CONTEXT_NAME}_WLTEST.log</File>
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.ejie.x38.log.LogLayout">
				<appCode>${CONTEXT_NAME}</appCode>
				<instance>WLTEST</instance>
			</layout>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.path}/logging/salidaEstandar_${CONTEXT_NAME}_WLTEST.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 7-day history -->
			<maxHistory>6</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="incidenciasAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}/logging/incidencias_${CONTEXT_NAME}_WLTEST.log</File>
		<filter class="com.ejie.x38.log.UdaLogFilter">
			<logIncidences>true</logIncidences>
		</filter>
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.ejie.x38.log.LogLayout">
				<appCode>${CONTEXT_NAME}</appCode>
				<instance>WLTEST</instance>
			</layout>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.path}/logging/incidencias_${CONTEXT_NAME}_WLTEST.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 7-day history -->
			<maxHistory>6</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="udaTrazasAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}/logging/udaTrazas_${CONTEXT_NAME}_WLTEST.log</File>
		<filter class="com.ejie.x38.log.UdaLogFilter" />
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.ejie.x38.log.LogLayout">
				<appCode>${CONTEXT_NAME}</appCode>
				<instance>WLTEST</instance>
			</layout>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.path}/logging/udaTrazas_${CONTEXT_NAME}_WLTEST.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 7-day history -->
			<maxHistory>6</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="aplicTrazasAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}/logging/${CONTEXT_NAME}Trazas_${CONTEXT_NAME}_WLTEST.log
		</File>
		<filter class="com.ejie.x38.log.UdaLogFilter" />
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.ejie.x38.log.LogLayout">
				<appCode>${CONTEXT_NAME}</appCode>
				<instance>WLTEST</instance>
			</layout>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.path}/logging/${CONTEXT_NAME}Trazas_${CONTEXT_NAME}_WLTEST.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 7-day history -->
			<maxHistory>6</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="auditoriaBBDDAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}/logging/auditoriaBBDD_${CONTEXT_NAME}_WLTEST.log</File>
		<filter class="com.ejie.x38.log.UdaLogFilter" />
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.ejie.x38.log.LogLayout">
				<appCode>${CONTEXT_NAME}</appCode>
				<instance>WLTEST</instance>
			</layout>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.path}/logging/auditoriaBBDD_${CONTEXT_NAME}_WLTEST.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 7-day history -->
			<maxHistory>6</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="auditoriaAccesosAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}/logging/auditoriaAccesos_${CONTEXT_NAME}_WLTEST.log</File>
		<filter class="com.ejie.x38.log.UdaLogFilter" />
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.ejie.x38.log.LogLayout">
				<appCode>${CONTEXT_NAME}</appCode>
				<instance>WLTEST</instance>
			</layout>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.path}/logging/auditoriaAccesos_${CONTEXT_NAME}_WLTEST.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- 7-day history -->
			<maxHistory>6</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- Root logger -->
	<root level="${log.level.salidaEstandar}">
		<appender-ref ref="salidaEstandarAppender" />
		<appender-ref ref="incidenciasAppender" />
	</root>

	<!-- Business loggers -->
	<logger name="com.ejie.x38" level="${log.level.udaTrazas}">
		<appender-ref ref="udaTrazasAppender" />
	</logger>

	<logger name="com.ejie.${CONTEXT_NAME}"
		level="${log.level.aplicTrazas}">
		<appender-ref ref="aplicTrazasAppender" />
	</logger>

	<!-- Audit loggers -->
	<logger name="com.ejie.x38.UdaListener"
		level="${log.level.auditoriaAccesos}">
		<appender-ref ref="auditoriaAccesosAppender" />
	</logger>

	<logger name="com.ejie.x38.security"
		level="${log.level.auditoriaAccesos}">
		<appender-ref ref="auditoriaAccesosAppender" />
	</logger>

	<logger name="org.jdbcdslog" level="${log.level.auditoriaBBDD}"
		additivity="false">
		<appender-ref ref="auditoriaBBDDAppender" />
	</logger>

	<logger name="org.eclipse.persistence-connection"
		level="${log.level.auditoriaBBDD}" additivity="false">
		<appender-ref ref="auditoriaBBDDAppender" />
	</logger>

	<logger name="org.eclipse.persistence"
		level="${log.level.auditoriaBBDD}" additivity="false">
		<appender-ref ref="auditoriaBBDDAppender" />
	</logger>

	<!-- Appender para las trazas de las consultas SQL -->
	<logger name="org.springframework.jdbc.core"
		level="${log.level.auditoriaBBDD.springJDBC.query}" additivity="false">
		<appender-ref ref="auditoriaBBDDAppender" />
	</logger>

	<!-- Appender para las trazas de los parámetros de las consultas SQL -->
	<logger
		name="org.springframework.jdbc.core.StatementCreatorUtils"
		level="${log.level.auditoriaBBDD.springJDBC.queryParams}"
		additivity="false">
		<appender-ref ref="auditoriaBBDDAppender" />
	</logger>

</configuration>
